<%- include('./partials/header') %>

<title>Homepage</title>

<h2 id="homepage">
  Share your age old family recipes, or something totally new you stumbled upon
  in your culinary adventures. <br />
  <br />
  Share your culinary exploits with the world and in turn, find something new
  and experimental or reinvention of old classic dishes.
  <br />
  <br />Login with your Google Account and share the happiness of good food with
  others.
</h2>
<div id="bg-img"></div>

<%- include('./partials/footer') %>
