<table id="list">
  <div>
    <h1>Reviews</h1>
    <% reviews.forEach(function(r){ %>
<h2>
  <%= r.content %> 
</h2>
<h2>
  <%= r.userName %> 
</h2>
<h2>
  <%= r.recipe %> 
</h2>

<% }); %>
  </div>
  
   
      
    
  </tbody>
</table>
